$namespace: 'canvas';

// Overlay class covers the whole screen.
// --------------------------------------
.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// Title and the welcome screen.
// -----------------------------
##{$namespace} {
  background: rgba(0,0,0,0.15);
  @extend .overlay;
}
##{$namespace} .title h1 {
  position: absolute;
  left: 45%;
  top: 45%;
  @include user-select(none);
  @include wb-font($size: 14pt);
}

// Menu styling.
// -------------
##{$namespace} .menu-selector {
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  width: 150px;
  @include wb-font($size: 14pt);
}
##{$namespace} .menu-selector .toggle-switch {
  border-bottom: $wb-border;
  padding: 3px;
  @include user-select(none);
  &:hover, &.active {
    box-shadow: 2px 0 1px 1px rgba(#555, 0.3);
  }
  [class*="icon-"] {
    float: right;
  }
}
##{$namespace} .menu-selector .menu-items {
  display: none;
  padding: 0px;
  margin: 0px;
}
##{$namespace} .menu-selector .menu-items li {
  border-bottom: $wb-border;
  padding: 5px 2px;
  font-size: 12pt;
  & > [class*="icon-"] {
    color: #574E4E;
    margin-right: 3px;
  }
  &:hover span {
    color: $wb-active-text;
  }
}
##{$namespace} .menu-selector .menu-items.visible {
  display: block;
}
