$namespace: 'canvas-strokes';

.#{$namespace} {
  padding: 3px;
  position: absolute;
  right: 5px;
  top: 2px;
  width: 150px;
  @include wb-font($size: 14pt);
}
.#{$namespace} #strokes-list {
  overflow-y: hidden;
}
.#{$namespace} #strokes-list .stroke-menu {
  border-bottom: $wb-border;
}
.#{$namespace} #strokes-list .stroke-items {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.#{$namespace} #strokes-list .stroke-items .stroke-item {
  border-bottom: $wb-border;
  .created {
    @include wb-font($size: 9pt);
  }
  .preview {
    width: 140px;
    height: 100px;
  }
}