{
  "presets": ["es2015", "flow"],
  "plugins": [ "transform-class-properties", "transform-react-jsx", "transform-async-to-generator",
               "transform-object-rest-spread",
               "transform-runtime", "transform-decorators-legacy" ]
}
