@mixin wb-font ($color: $wb-font-color,
                $family: $wb-font-family,
                $size: 12pt
                ) {
  color: $color;
  font: {
    family: $family;
    size: $size;
  }
}