// Hide our hamburger menu if it isn't shown
.site .hamburger-menu:not(.expanded) {
  display: none;
}

.hamburger-menu .header {
  border: none;
  color: #b0b0b0;
  transition:all 1s ease-in;


  span {
    font-size: 24rem;
  }

  .title .fa.fa-bars {
    margin-right: 35rem;
  }

  .title {
    display: flex;
    align-items: center;
    padding-top: 16rem;
    padding-bottom: 15rem;

    margin: 15rem;
    width: 100%;
    border-bottom: 1px solid #b0b0b0;
  }

  .fa.fa-bars {
    font-size: 28px;
  }
}
