.header {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid $bitdj-color-border;
  background-color: $bitdj-color-background;
  width: 100%;

  .hamburger-menu-icon {
    width: 50rem;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28rem;
    color: $bitdj-color-text;
    margin-right: 20rem;
  }

  .title {
    color: $bitdj-color-text;
    margin-right: 20rem;
    font-size: 24rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .profile-photo {
    position: absolute;
    right: 35px;
    top: 0;
    display: flex;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $bitdj-color-border;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
