.title
  %h1 Start Drawing Here

.menu-selector
  .toggle-switch
    %span Menu
    %i.menu-icon
  %ul.menu-items
    %li.file
      %i.icon-file
      %span File
    %li.brushes
      %i.icon-pencil
      %span Brushes
    %li.tools
      %i.icon-magic
      %span Tools
    %li.settings
      %i.icon-cogs
      %span Settings
    %li.share
      %i.icon-ticket
      %span Share

.canvas-strokes

%ul.items
